
.ResponsiveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ResponsiveContainerDiv {
    margin-top: 150px;
    background-color: #FFFF;
    border-radius: 20px;
    -webkit-box-decoration-break: clone;
    box-shadow: 0px 6px 0px 0px #c0c6ee, 0px 0px 2px 0px #c4c5c6, 0px 0px 2px 0px #aaaaab;
}
.ResponsiveContainerDivP {
    width: 50%;
    color: #535353;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin-left: 20px;
}


